{% extends "layout.html" %}
{%block content%}

  <div class="site-blocks-cover" style="background-image: url(static/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row row-custom align-items-center">

          <div class="col-md-12 col-lg-8 mb-5">

            <form class="p-5 bg-white">
              <fieldset>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" name="artist" class="form-control" placeholder="Artist" id="artist">
                </div>
              </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" name="city" class="form-control" placeholder="Location" id="location">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" name="capacity" class="form-control" placeholder="Capacity">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" name="age_limit" class="form-control" placeholder="Age limit">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" name="price" class="form-control" placeholder="Price">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12">
                  <button class="btn btn-primary py-2 px-4 add_concert">Add concert</button>
                  <img src="static/images/loader.gif" class="indicator">
                </div>
              </div>

              </fieldset>
            </form>
          </div>


        </div>
      </div>
    </div>
{% endblock %}