{% extends "layout.html" %}
{%block content%}

  <div class="site-blocks-cover" style="background-image: url(static/images/hero_bg_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row row-custom align-items-center concert_manip">

          <div class="col-md-12 col-lg-8 offset-lg-2 mb-5">

            <form class="p-5 bg-white">
              <fieldset>
                <div class="alert alert-danger d-none" role="alert">
                      <b>An error occurred.</b> Please try again.
                    </div>
              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" name="name" class="form-control" placeholder="Concert name" id="name">
                </div>
              </div>
                <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                    <input id="birds" class="form-control" placeholder="Artists" >
                </div>
              </div>
                  <div class="row form-group desc">
                <div class="col-md-12 mb-3 mb-md-0">
                  <div class="form-group">
                    <textarea class="form-control" rows="3" disabled></textarea>
                  </div>
                </div>
                <div class="row form-group desc-img">
                    <div class="col-md-8">
                      <select class="image-picker show-html images"></select>
                    </div>
                    <div class="col-md-4 clicked"></div>
                  </div>
              </div>
                <div class="row form-group">
                  <div class="col-md-6 mb-3 mb-md-0">
                    <div class="input-append date form_datetime position-relative">
                        <input type="text" value="" readonly placeholder="From" class="form-control" id="from">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                  </div>
                  <div class="col-md-6 mb-3 mb-md-0">
                    <div class="input-append date form_datetime position-relative">
                        <input type="text" value="" readonly placeholder="To" class="form-control" id="to">
                        <span class="add-on"><i class="icon-calendar"></i></span>
                    </div>
                  </div>
                </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <input type="text" name="city" class="form-control" placeholder="Location" id="location">
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-12 mb-3 mb-md-0">
                  <input type="number" name="capacity" class="form-control" placeholder="Capacity" id="capacity" min="1">
                </div>
              </div>


              <div class="row form-group">
                <div class="col-md-12">
                  <button class="btn btn-primary py-2 px-4 add_concert">Add concert</button>
                  <img src="static/images/loader.gif" class="indicator">
                </div>
              </div>

              </fieldset>
            </form>
          </div>


        </div>
      </div>
    </div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <p>Concert created successfully</p>
          <p>Click <a>here</a> to see the concert details.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}