{% extends "layout.html" %}
{%block content%}

<div class="site-section bg-light">


<div class="container mytickets pt-5">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Concert name</th>
      <th scope="col"># of tickets</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

  </tbody>
</table>
</div>



</div>



<script id="theTmpl" type="text/x-jsrender">

<tr>
  <td><%:name%></td>
  <td><%:quantity%></td>
  <td><a href="/find?concert_id=<%:id%>" class="btn btn-outline-primary">more details</a></td>
</tr>

</script>

{% endblock%}
