{% extends "layout.html" %}
{%block content%}
<h1>Update Details</h1>
<h3>Here you can update your details !</h3>
{% from "includes/_formhelper.html" import render_field %}
<form method="post" action="">
    <div class="from-group row">
        <div class="col-md-3">
        {{render_field(form.age,class_="form-control")}}
        </div>
    </div>
    <div class="from-group row">
        <div class="col-md-3">
        {{render_field(form.city,class_="form-control")}}
        </div>
    </div>
    <div class="from-group row">
        <div class="col-md-3">
        {{render_field(form.picture,class_="form-control")}}
        </div>
    </div>
    <br>
    <p><input class="btn btn-warning col-sm-2" id="register" type="submit" value="Update Details"></p>
</form>
{% endblock %}